package com.sap.it.api.securestore;

public class OAuth2ClientCredential {
    private char[] accessToken;

    public OAuth2ClientCredential(char[] accessToken) {
        this.accessToken = accessToken;
    }

    public char[] getAccessToken() {
        return accessToken;
    }
}
