package com.sap.it.api.securestore;

public class UserCredential {
    private String username;
    private char[] password;

    public UserCredential(String username, char[] password) {
        this.username = username;
        this.password = password;
    }

    public String getUsername() {
        return username;
    }

    public char[] getPassword() {
        return password;
    }
}
