<?xml version='1.0' encoding='UTF-8' standalone='yes'?>
<ComponentMetadata xmlns:gen="http://www.sap.hci.adk.com/gen"
                   xmlns:bp="http://www.adk.gen/xmlns/blueprint"
                   ComponentId="ctype::Adapter/cname::${adapterName}/vendor::${vendor}/version::${adapterVersion}"
                   ComponentName="${adapterName}"
                   UIElementType="Adapter"
                   IsExtension="false"
                   IsFinal="true"
                   IsPreserves="true"
                   IsDefaultGenerator="true"
                   ComponentDisplayName="${adapterName}">

${senderVariant}
${receiverVariant}

${attributeMetadataEntries}

</ComponentMetadata>
